.container-dm {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 38%;
    
    
   
}

.container-dm h2 {
    color: #e91e63;
    margin-bottom: 20px;
    text-align: center;
}

