body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.admin-panel {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #212529;
    color: #ecf0f1;
    top: 0; 
    left: 0;
    position: fixed;
    padding: 20px;
    padding-bottom: 50px;
    overflow-y: auto;
    border-radius: 10px;

    
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #e91e63;
   
}

.sidebar hr {
    opacity: 0.3; 
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar nav ul li.active a {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar nav ul li a:hover {
    background-color: #e91e63; 
    color: #ddd; 
}



h4 {
    text-align: right; 
    margin-bottom: 30px;
    color: #e91e63;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.title {
    opacity: 0.6; 
    font-size: 15px;
    padding-top: 20px;

}

main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

header h1 {
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form textarea, .btn-submit {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #c0392b;
}









